@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<h1>@Model.Title</h1>

@{
	var test = "something";
}

@if(Model.Names != null && Model.Names.Any())
{
	<ul>
		@foreach(var item in Model.Names)
		{
			<li>@item</li>
		}
		
	</ul>

}


<img width="100px" src="@Model.Image.Url()"/>